.margin-top{
    margin-top: 90px;
}
.select{
    width: 300px;
    margin-left: auto;
}
.contain-products{
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
}
.card{
    margin: 25px;
}
@media screen and (min-width:320px) {
    .select{
        margin-right: 10px;
    }
}
@media screen and (min-width:340px) {
    .select{
        margin-right: 20px;
    }
}
@media screen and (min-width:360px) {
    .select{
        margin-right: 30px;
    }
}
@media screen and (min-width:800px) {
    .contain-products{
        justify-content: space-around;
    }
}
@media screen and (min-width:1000px) {
    .contain-products{
        justify-content: start;
    }
    .card{
        width: 450px;
        margin-right: auto;
    }
}

@media screen and (min-width:1800px) {
    .card{
        width: 500px;
    }
}

@media screen and (min-width:2000px) {
    .card{
        width: 600px;
    }
}

@media screen and (min-width:2500px) {
    .card{
        width: 800px;
    }
}