.contain-page-sign-in{
    display: flex;
    align-items: center;
    min-height: 100vh;
    max-height: 100%;
    justify-content: center;
}
.sign-in-form{
    width: 80vw;
}
#card-requirements ,#card-requirements-1{
    display: none;
}
.requeriment{
    color: red;
}
.succes{
    color: #16ff00 !important;
}